{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Etli_yaprak_sarma_-_yogurt.jpg/1280px-Etli_yaprak_sarma_-_yogurt.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Stuffed grape leaves<i
            class="fas fa-plus-circle right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Stuffed grape leaves<i class="fas fa-times right"></i></span>
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Ingredients</h4>
          </li>
          <li class="collection-item">Vine</li>
          <li class="collection-item">Cabbage</li>
          <li class="collection-item">Monk's Rhubarb</li>
          <li class="collection-item">Kale</li>
          <li class="collection-item">Rice</li>
          <li class="collection-item">Minced Meet</li>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Preparation</h4>
          </li>
          <li class="collection-item">Vine</li>
          <li class="collection-item">Cabbage</li>
          <li class="collection-item">Monk's Rhubarb</li>
          <li class="collection-item">Kale</li>
          <li class="collection-item">Rice</li>
          <li class="collection-item">Minced Meet</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Etli_yaprak_sarma_-_yogurt.jpg/1280px-Etli_yaprak_sarma_-_yogurt.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Stuffed grape leaves<i
              class="fas fa-plus-circle right"></i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Stuffed grape leaves<i class="fas fa-times right"></i></span>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Ingredients</h4>
            </li>
            <li class="collection-item">Vine</li>
            <li class="collection-item">Cabbage</li>
            <li class="collection-item">Monk's Rhubarb</li>
            <li class="collection-item">Kale</li>
            <li class="collection-item">Rice</li>
            <li class="collection-item">Minced Meet</li>
          </ul>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Preparation</h4>
            </li>
            <li class="collection-item">Vine</li>
            <li class="collection-item">Cabbage</li>
            <li class="collection-item">Monk's Rhubarb</li>
            <li class="collection-item">Kale</li>
            <li class="collection-item">Rice</li>
            <li class="collection-item">Minced Meet</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Etli_yaprak_sarma_-_yogurt.jpg/1280px-Etli_yaprak_sarma_-_yogurt.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Stuffed grape leaves<i
                class="fas fa-plus-circle right"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Stuffed grape leaves<i
                class="fas fa-times right"></i></span>
            <ul class="collection with-header">
              <li class="collection-header">
                <h4>Ingredients</h4>
              </li>
              <l55555i class="collection-item">Vine</li>
                <li class="collection-item">Cabbage</li>
                <li class="collection-item">Monk's Rhubarb</li>
                <li class="collection-item">Kale</li>
                <li class="collection-item">Rice</li>
                <li class="collection-item">Minced Meet</li>
            </ul>
            <ul class="collection with-header">
              <li class="collection-header">
                <h4>Preparation</h4>
              </li>
              <li class="collection-item">Vine</li>
              <li class="collection-item">Cabbage</li>
              <li class="collection-item">Monk's Rhubarb</li>
              <li class="collection-item">Kale</li>
              <li class="collection-item">Rice</li>
              <li class="collection-item">Minced Meet</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Etli_yaprak_sarma_-_yogurt.jpg/1280px-Etli_yaprak_sarma_-_yogurt.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Stuffed grape leaves<i
            class="fas fa-plus-circle right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Stuffed grape leaves<i class="fas fa-times right"></i></span>
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Ingredients</h4>
          </li>
          <li class="collection-item">Vine</li>
          <li class="collection-item">Cabbage</li>
          <li class="collection-item">Monk's Rhubarb</li>
          <li class="collection-item">Kale</li>
          <li class="collection-item">Rice</li>
          <li class="collection-item">Minced Meet</li>
        </ul>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Etli_yaprak_sarma_-_yogurt.jpg/1280px-Etli_yaprak_sarma_-_yogurt.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Stuffed grape leaves<i
              class="fas fa-plus-circle right"></i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Stuffed grape leaves<i class="fas fa-times right"></i></span>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Ingredients</h4>
            </li>
            <li class="collection-item">Vine</li>
            <li class="collection-item">Cabbage</li>
            <li class="collection-item">Monk's Rhubarb</li>
            <li class="collection-item">Kale</li>
            <li class="collection-item">Rice</li>
            <li class="collection-item">Minced Meet</li>
          </ul>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Preparation</h4>
            </li>
            <li class="collection-item">Vine</li>
            <li class="collection-item">Cabbage</li>
            <li class="collection-item">Monk's Rhubarb</li>
            <li class="collection-item">Kale</li>
            <li class="collection-item">Rice</li>
            <li class="collection-item">Minced Meet</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Etli_yaprak_sarma_-_yogurt.jpg/1280px-Etli_yaprak_sarma_-_yogurt.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Stuffed grape leaves<i
                class="fas fa-plus-circle right"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Stuffed grape leaves<i
                class="fas fa-times right"></i></span>
            <ul class="collection with-header">
              <li class="collection-header">
                <h4>Ingredients</h4>
              </li>
              <li class="collection-item">Vine</li>
              <li class="collection-item">Cabbage</li>
              <li class="collection-item">Monk's Rhubarb</li>
              <li class="collection-item">Kale</li>
              <li class="collection-item">Rice</li>
              <li class="collection-item">Minced Meet</li>
            </ul>
            <ul class="collection with-header">
              <li class="collection-header">
                <h4>Preparation</h4>
              </li>
              <li class="collection-item">Vine</li>
              <li class="collection-item">Cabbage</li>
              <li class="collection-item">Monk's Rhubarb</li>
              <li class="collection-item">Kale</li>
              <li class="collection-item">Rice</li>
              <li class="collection-item">Minced Meet</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row center-align">
  <ul class="pagination">
    <li class="waves-effect disabled"><a href=""><i class="fas fa-chevron-left"></i></i></a></li>
    <li class="active waves-effect"><a href="{{ url_for('get_dishes') }}">1</a></li>
    <li class="waves-effect"><a href="{{ url_for('get_dishes2') }}">2</a></li>
    <li class="waves-effect"><a href="{{ url_for('get_dishes2') }}"><i class="fas fa-chevron-right"></i></i></a></li>
  </ul>
</div>




{% endblock %}